@page
@model DemoPRN1.Pages.Books.UpdateModel
<div class="container-fluid">
    <h2>Cập Nhật Sách</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="updateBook.BookId" />
        <input type="hidden" asp-for="updateBook.BookStoreId" />
        <input type="hidden" asp-for="updateBook.CreateAt" />
        <div class="form-group">
            <label asp-for="updateBook.BookTitle"></label>
            <input asp-for="updateBook.BookTitle" class="form-control" />
            <span asp-validation-for="updateBook.BookTitle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="updateBook.Author"></label>
            <input asp-for="updateBook.Author" class="form-control" />
            <span asp-validation-for="updateBook.Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="updateBook.Description"></label>
            <textarea asp-for="updateBook.Description" class="form-control"></textarea>
            <span asp-validation-for="updateBook.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="updateBook.CategoryId"></label>
            <select asp-for="updateBook.CategoryId" class="form-control">
                <option value="">Select Category</option>

                @foreach (var category in Model.Categories)
                {
                    var selected = category.CategoryId == Model.updateBook.CategoryId;
                    <option selected="@selected" value="@category.CategoryId" )>
                        @category.CategoryName
                    </option>
                }
            </select>
            <span asp-validation-for="updateBook.CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="updateBook.Image"></label>
            <input asp-for="ImageFile" type="file"  class="form-control" />
            <span asp-validation-for="updateBook.Image" class="text-danger"></span>
        </div>

      @*   <div class="form-group">
            <label asp-for="ImageFile">Choose from file</label>
            <input asp-for="ImageFile" class="form-control" type="file" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div> *@
        <div class="form-group">
            <label asp-for="updateBook.Price"></label>
            <input asp-for="updateBook.Price" class="form-control" />
            <span asp-validation-for="updateBook.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="updateBook.Quantity"></label>
            <input asp-for="updateBook.Quantity" class="form-control" />
            <span asp-validation-for="updateBook.Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="updateBook.RentalQuantity"></label>
            <input asp-for="updateBook.RentalQuantity" class="form-control" />
            <span asp-validation-for="updateBook.RentalQuantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="updateBook.RentalPrice"></label>
            <input asp-for="updateBook.RentalPrice" class="form-control" />
            <span asp-validation-for="updateBook.RentalPrice" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <input type="hidden" name="updateBook.Status" value="false" /> <!-- Hidden field for false -->
            <input type="checkbox" class="form-check-input" name="updateBook.Status" value="true" @(Model.updateBook.Status == true ? "checked" : "") />
            <label for="Status" class="form-check-label">Status</label>
            <span asp-validation-for="updateBook.Status" class="text-danger"></span>
        </div>

       
        <div class="form-group">
            <label asp-for="updateBook.Isbn"></label>
            <input asp-for="updateBook.Isbn" class="form-control" />
            <span asp-validation-for="updateBook.Isbn" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>